.progress-bar {
  height: 6px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--brand-color);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ffffff2e 10px,
    #ffffff2e 20px
  );
}
